<div class="combatviewmodel-inc"> 
	<ul class="noselect">
		<li><a href="#InitiativeTab" data-bind="click: SetActiveTab.bind($data, 0)">Initiative</a></li>
		<li><a href="#GridTab" data-bind="click: SetActiveTab.bind($data, 1)">Battlemap</a></li>
		<li><a href="#GridMapsTab" data-bind="click: SetActiveTab.bind($data, 2)">Maps</a></li>
		<li><a href="#GridSettingsTab" data-bind="click: SetActiveTab.bind($data, 3)">Settings</a></li>
	</ul>
	<div id="InitiativeTab">
		<div class="grid filters">
			<table class="combat ko-grid" data-bind="visible: CombatantList().length > 0">
				<thead>
					<tr>
						<th class="combat-token"></th>
						<th class="combat-name">Name</th>
						<th class="combat-visible">Hide</th>
						<th class="combat-levelcr">Level/CR</th>
						<th class="combat-ac">AC</th>
						<th class="combat-initiative">Initiative</th>
						<th class="combat-hp">HP</th>
						<th class="combat-del" />
					</tr>
				</thead>
				<tbody data-bind="foreach: OrderedCombatantList">
					<tr data-bind="attr: {class: RowClass}, event: {mousedown: $parent.SelectRow}">
						<td class="combat-token"><img class="combat-token" data-bind="attr: {src: Token}, click: PickToken" /></td>
						<td class="combat-name">
							<i class="noselect npc-view fa fa-external-link" 
								data-bind="visible: ModelType() == 'NPC', 
									click: WORKSPACE.Helpers.ViewNPC.bind($data, $data.Id())"></i>
							<input class="combat-name required" data-bind="css: {npc: ModelType() == 'NPC'}, value: Name" />
						</td>
						<td class="combat-visible">
							<input type="checkbox" class="combat-visible" 
								data-bind="checked: Invisible" title="Hidden"/>
						</td>
						<td><input class="combat-levelcr" data-bind="textInput: LevelAndCR" /></td>
						<td><input class="combat-ac" data-bind="textInput: ACBasic, attr: {title: AC}" /></td>
						<td><input class="combat-initiative" data-bind="value: Initiative" /></td>
						<td><input class="combat-hp" data-bind="value: CalculateHP, attr: {title: MaxHPText}" /></td>
						<td class="combat-del noselect">
							<i title="Remove" class="combat-del fa fa-times" 
								data-bind="click: $root.RemoveCombatant"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button class="ui-button extra-margins ui-corner-all ui-widget" data-bind="click: AddCombatant">Add Combatant</button>
		<table class="ko-grid npc-view combat-difficulty" data-bind="visible: CombatantList().length > 0">
			<tbody>
				<tr>
					<th class="difficulty">Difficulty</th>
					<td class="difficulty" data-bind="text: Difficulty"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="GridTab">
		<svg class="defs-only">
			<filter id="DeadToken" color-interpolation-filters="sRGB"
				  x="0" y="0" height="100%" width="100%">
				<feColorMatrix type="matrix"
			        values="0.50 0 0 0 0.30 
			                0.50 0 0 0 0.00  
			                0.50 0 0 0 0.00 
			                0    0 0 1 0" />
			</filter>
			<filter id="InvisibleToken" color-interpolation-filters="sRGB"
				  x="0" y="0" height="100%" width="100%">
				<feColorMatrix type="matrix"
			        values="0.50 0 0 0 0.00 
			                0.50 0 0 0 0.00  
			                0.50 0 0 0 0.90 
			                0    0 0 1 0" />
			</filter>
		</svg>
		<div class="grid-container noselect">
			<div id="grid-map">
			</div>
			<div id="grid-lines" data-bind="css: {'show': ShowGridLines, 'alt-color': AltGridColor}"></div>
			<canvas id="grid-canvas"></canvas>
			<canvas id="grid-fog"></canvas>
			<canvas id="grid-light" style="display: none"></canvas>
		</div>
	</div>
	<div id="GridMapsTab">
		<div class="filters gridsettings-add">
			<input type="text" name="grid-mapslide-add" data-bind="textInput: MapToAdd">
			<button class="ui-button ui-corner-all ui-widget" data-bind="click: AddMap">Add Map URL</button>
		</div>
		<div id="grid-mapslides">
			<div class="page-prev" data-bind="click: MapPrev">
				<i class="fa fa-chevron-left"></i>
			</div>
			<div class="map-page" data-bind="foreach: MapSlidesPage">
				<div class="grid-map-thumb">
					<div class="img" data-bind="attr: {'data-src': Source}, style: {'background-image': 'url(' + Source + ')'}, click: $parent.LoadMap">
						<i class="remove-map fa fa-times" data-bind="click: $parent.RemoveMap"></i>
					</div>
				</div>
			</div>
			<div class="page-next" data-bind="click: MapNext">
				<i class="fa fa-chevron-right"></i>
			</div>
		</div>
	</div>
	<div id="GridSettingsTab">
		<div class="grid">
			<table class="gridsettings ko-grid" cellspacing="0">
				<tbody>
					<tr class="spacer"></tr>
					<tr>
						<th>Local Stream</th>
						<td>
							<input type="checkbox" name="grid-transmit" alt="Stream to another window on the SAME computer" data-bind="checked: TransmitMap" />
						</td>
					</tr>
					<tr>
						<th>Remote Stream</th>
						<td>
							<input type="checkbox" name="grid-transmit-remote" alt="Stream to another computer over the Internet" data-bind="checked: TransmitMapRemote" />
						</td>
					</tr>
					<tr data-bind="visible: TransmitMapRemote()">
						<td><span class="remote-clientnum" data-bind="text: 'Connected: ' + ConnectedClients()"></span></td>
						<td><span class="remote-key" data-bind="visible: TransmitMapRemote(), text: 'Key: ' + PeerKey()"></span></td>
					</tr>
					<tr class="spacer"></tr>
					<tr>
						<th>Token Outlines</th>
						<td>
							<input type="checkbox" name="grid-outline" data-bind="checked: ShowOutlines" />
			            </td>
			        </tr>
					<tr>
						<th>Map</th>
						<td>
							<input id="grid-bgcolor" type="text" />
						</td>
					</tr>
					<tr>
						<th>Grid</th>
			            <td>
							<input type="checkbox" name="grid-lines" data-bind="checked: ShowGridLines" />
							<input id="grid-linecolor" type="text" />
			            </td>
		            </tr>
					<tr>
						<th>Darkness</th>
			            <td>
							<input type="checkbox" name="grid-darkness" data-bind="checked: ShowDarkness" />
							<input id="grid-darknesscolor" type="text" />
			            </td>
		            </tr>
					<tr>
						<th>Fog of War</th>
			            <td>
							<input type="checkbox" name="grid-fog" data-bind="checked: ShowFog" />
							<input id="grid-fogcolor" type="text" />
			            </td>
					</tr>
					<tr class="spacer"></tr>
					<tr>
						<th>
							Token Scale: <span class="token-scale" data-bind="text: TokenScale() + 'x'"></span>
						</th>
						<td>
							<div id="token-scale"></div>
						</td>
					</tr>
					<tr>
						<th>
							Eraser Size: <span class="erase-size" data-bind="text: EraseSize"></span>
						</th>
						<td>
							<div id="erase-size"></div>
						</td>
					</tr>
					<tr class="spacer"></tr>
					<tr>
						<td colspan="2">
							<button class="ui-button ui-corner-all ui-widget" data-bind="click: ResetTokens">Reset Tokens</button>
							<button class="ui-button ui-corner-all ui-widget" data-bind="click: ClearFog">Reset Fog</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
