<div class="npcsviewmodel-inc">
	<ul class="noselect">
		<li><a href="#NPCGenerate" data-bind="click: SetActiveTab.bind($data, 0)">Generate</a></li>
		<li><a href="#NPCSearch" data-bind="click: SetActiveTab.bind($data, 1)">Search</a></li>
		<li><a href="#NPCGroupsTab" data-bind="click: SetActiveTab.bind($data, 2)">Groups</a></li>
	</ul>
	<div id="NPCGenerate">
	</div>
	<div id="NPCSearch">
		<div class="npcs filters">
			<div class="name">
				<label for="name">Name</label>
				<input name="name" class="name" data-bind="textInput: $root.Search" />
			</div>
			<div class="type">
				<label for="type">Type</label>
				<input name="type" class="type" data-bind="textInput: $root.Type" />
			</div>
			<div class="cr">
				<label for="cr">CR</label>
				<select name="cr" class="cr" data-bind="options: CRList, value: CR"></select>
			</div>
		</div>
		<div class="npc grid" data-bind="simpleGrid: SearchGrid, visible: SearchList().length > 0"> </div>
	</div>
	<div id="NPCGroupsTab">
		<div class="filters noselect">
			<select class="group-select"
				data-bind="options: GroupList, 
							optionsText: 'Title',
							value: SelectedGroup"></select>
			<i title="New Group" class="fa fa-plus" data-bind="click: AddGroup"></i>
			<i title="Rename Group" class="fa fa-pencil" data-bind="click: WORKSPACE.Helpers.RenameGroup"></i>
			<i title="Delete Group" class="trash fa fa-trash" data-bind="click: RemoveGroup.bind($data, SelectedGroup())"></i>
		</div>
		<div class="grid" data-bind="visible: SelectedGroup().NPCs().length > 0">
			<table class="ko-grid npc-view">
				<thead>
					<tr>
						<th class="cr">CR</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: SelectedGroup().NPCsByCR">
					<tr>
						<td class="cr" data-bind="text: CR"></td>
						<td class="npc-name" data-bind="event: { mouseover: ShowRemove, mouseout: HideRemove }">
							<span class="npc-link" data-bind="text: $data.Name,
								click: WORKSPACE.Helpers.ViewNPC.bind($data, $data.Id())"></span>
							<i class="npc-remove fa fa-times" data-bind="visible: IsRemoveVisible, click: $parent.SelectedGroup().RemoveNPC"></i>
						</td>
					</tr>
				</tbody>
			</table>
			<table class="ko-grid npc-view">
				<tbody>
					<tr>
						<th class="difficulty">Difficulty</th>
						<td class="difficulty" data-bind="text: SelectedGroup().Difficulty"></td>
					</tr>
				</tbody>
			</table>
			<button class="ui-button extra-margins ui-corner-all ui-widget" 
				data-bind="click: SendCombat">Send To Combat</button>
		</div>
	</div>
</div>