<div class="playersviewmodel-inc"> 
	<div class="grid">
		<table class="players ko-grid" data-bind="visible: PlayersList().length > 0">
			<thead>
				<tr>
				    <th class="player-name">Name</th>
				    <th class="player-ac">AC</th>
				    <th class="player-passive">Passive</th>
				    <th class="player-level">Level</th>
				    <th class="player-del" />
				</tr>
			</thead>
			<tbody data-bind="foreach: PlayersList">
				<tr>
				    <td><input class="player-name required" data-bind="textInput: Name, uniqueName: true" /></td>
				    <td><input class="player-ac" data-bind="textInput: AC" /></td>
					<td><input class="player-passive" data-bind="textInput: Passive"></textarea></td>
					<td><input class="player-level" data-bind="textInput: Level" /></td>
				    <td class="player-del">
				    	<i title="Delete Spellbook" class="player-del fa fa-trash" 
				    	data-bind="click: $root.RemovePlayer"></i>
				    </td>
				</tr>
			</tbody>
		</table>
	</div>
	<button class="ui-button extra-margins ui-corner-all ui-widget" data-bind="click: AddPlayer">Add PC</button>
	<button class="ui-button extra-margins ui-corner-all ui-widget" 
		data-bind="click: SendCombat, visible: PlayersList().length > 0">Send To Combat</button>
</div>