<div class="spellsviewmodel-inc">
	<ul class="noselect">
		<li><a href="#SpellSearch" data-bind="click: SetActiveTab.bind($data, 0)">Search</a></li>
		<li><a href="#Spellbook" data-bind="click: SetActiveTab.bind($data, 1)">Spellbooks</a></li>
	</ul>
	<div id="SpellSearch">
		<div class="filters search">
			<div class="level">
				<label for="level">Level</label>
				<select class="level" data-bind="options: LevelList, value: Level"></select>
			</div>
			<div class="name">
				<label for="name">Name</label>
				<input class="name" name="name" data-bind="textInput: Search" />
			</div>
			<div class="class">
				<label for="class">Class</label>
				<input class="class" name="class" data-bind="textInput: Class" />
			</div>
		</div>
		<div class="spells grid" data-bind="simpleGrid: SearchGrid, visible: SearchList().length > 0"> </div>
	</div>
	<div id="Spellbook">
		<div class="filters noselect">
			<select class="spell-select"
				data-bind="options: BookList, 
							optionsText: 'Title',
							value: SelectedBook"></select>
			<i title="New Spellbook" class="fa fa-plus" data-bind="click: AddBook"></i>
			<i title="Rename Spellbook" class="fa fa-pencil" data-bind="click: WORKSPACE.Helpers.RenameBook"></i>
			<i title="Show/Hide Spell Slots" class="fa fa-eye" data-bind="click: SelectedBook().ToggleSlots"></i>
			<i title="Reset Used Slots" class="fa fa-check" data-bind="visible: SelectedBook().ShowSlots, click: SelectedBook().ResetSlots"></i>
			<i title="Delete Spellbook" class="trash fa fa-trash" data-bind="click: RemoveBook.bind($data, SelectedBook())"></i>
		</div>
		<div class="spell-slots filters noselect" data-bind="visible: SelectedBook().ShowSlots">
			<!-- ko foreach: SelectedBook().SpellSlots -->
			<div class="slot">
				<span data-bind="text: $index()+1"></span>
				<ul data-bind="foreach: Slots">
					<li><input type="checkbox" 
						data-bind="value: $parentContext.$index() + '-' + $index(), checked: $root.SelectedBook().SlotsUsed" /></li>
				</ul>
			</div>
			<!-- /ko -->
		</div>
		<div class="grid">
			<table class="ko-grid spellbook-view">
				<tbody data-bind="foreach: SelectedBook().SpellsByLevel()">
					<tr>
						<th data-bind="text: $data.Key ? 'Level ' + $data.Key : 'Cantrips'"></th>
						<td>
							<ul data-bind="foreach: $data.Spells">
								<li data-bind="event: { mouseover: ShowRemove, mouseout: HideRemove }">
									<span class="spell-link" data-bind="text: $data.Name,
									click: WORKSPACE.Helpers.ViewSpell.bind($data, $data.Id())"></span>
									<i class="fa fa-times" data-bind="visible: IsRemoveVisible, click: $parents[1].SelectedBook().RemoveSpell"></i>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>