<script type="text/html" id="ko_lootgrid_template">
	<table class="loot ko-grid" cellspacing="0">
		<thead>
			<tr>
	        	<th class="loot-name">
	           		<span data-bind="text: columns[0].headerText"></span>
	           		<i title="Random" data-bind="click: WORKSPACE.ViewModels.LootViewModel.PickRandom()" class="fa fa-random"></i>
           		</th>
	           	<th data-bind="text: columns[1].headerText"></th>
	           	<th data-bind="text: columns[2].headerText"></th>
        	</tr>
		</thead>
		<tbody data-bind="foreach: itemsOnCurrentPage">
			<tr>
				<td>
					<span class="item-link" data-bind="text: $data.Name, click: WORKSPACE.Helpers.ViewItem.bind($data, $data.Id)"></span>
				</td>
				<td data-bind="text: $data.Attune"></td>
				<td data-bind="text: $data.Rarity"></td>
			</tr>
		</tbody>
	</table>
</script>