<div id="NPCView" title="NPC View">
	<div class="npc-view">
		<!--<div class="name" data-bind="text: Name"></div>-->
		<div class="description" data-bind="text: BasicDescription"></div>

		<svg height="5" width="310">
			<polyline points="0,0 310,2.5 0,5"></polyline>
		</svg>

		<div class="red">
		    <div>
		    	<span class="bold red">Armor Class</span>
		    	<span data-bind="text: AC"></span>
	    	</div>
		    <div>
	    		<span class="bold red">Hit Points</span>
	    		<span data-bind="text: HP"></span>
    		</div>
		    <div>
		    	<span class="bold red">Speed</span>
		    	<span data-bind="text: Speed"></span></div>
		</div>

		<svg height="5" width="310">
			<polyline points="0,0 310,2.5 0,5"></polyline>
		</svg>

		<table>
		    <tr>
		    	<th>STR    </th>
		    	<th>DEX   </th>
		    	<th>CON    </th>
		    	<th>INT   </th>
		    	<th>WIS   </th>
		    	<th>CHA   </th>
	    	</tr>
		    <tr>
		    	<td data-bind="text: STR() + ' (' + STRMOD() + ')'"></td>
		    	<td data-bind="text: DEX() + ' (' + DEXMOD() + ')'"></td>
		    	<td data-bind="text: CON() + ' (' + CONMOD() + ')'"></td>
		    	<td data-bind="text: INT() + ' (' + INTMOD() + ')'"></td>
		    	<td data-bind="text: WIS() + ' (' + WISMOD() + ')'"></td>
		    	<td data-bind="text: CHA() + ' (' + CHAMOD() + ')'"></td>
		    	</tr>
		</table>
		    
		<svg height="5" width="310">
			<polyline points="0,0 310,2.5 0,5"></polyline>
		</svg>
		 
		<div>
			<span class="bold" data-bind="visible: Save">Saving Throws:</span>
			<span data-bind="text: Save"></span>
		</div>
		<div>
			<span class="bold" data-bind="visible: Skill">Skills:</span>
			<span data-bind="text: Skill"></span>
		</div>
		<div>
			<span class="bold" data-bind="visible: Resist">Damage Resistances:</span>
			<span data-bind="text: Resist"></span>
		</div>
		<div>
			<span class="bold" data-bind="visible: Immune">Damage Immunities:</span>
			<span data-bind="text: Immune"></span>
		</div>
		<div>
			<span class="bold" data-bind="visible: ConditionImmune">Condition Immunities:</span>
			<span data-bind="text: ConditionImmune"></span>
		</div>
		<div>
			<span class="bold" data-bind="visible: Vulnerable">Vulnerabilities:</span>
			<span data-bind="text: Vulnerable"></span>
		</div>
		<div>
			<span class="bold" data-bind="visible: TotalSenses">Senses:</span>
			<span data-bind="text: TotalSenses"></span>
		</div>
		<div>
			<span class="bold" data-bind="visible: Languages">Languages:</span>
			<span data-bind="text: Languages"></span>
		</div>
		<div>
			<span class="bold" data-bind="visible: CR">Challenge:</span>
			<span data-bind="text: Challenge"></span>
		</div> 
		    
		<svg height="5" width="310">
			<polyline points="0,0 310,2.5 0,5"></polyline>
		</svg>

		<div class="actions-list" data-bind="foreach: Trait">
			<div class="attack">
				<span class="attackname" data-bind="text: name"></span>
				<div class="description" data-bind="foreach: text">
					<span data-bind="text: $data"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="npc-view right">
		<div class="actions red">Actions</div>
		    
		<div class="hr"></div>

		<div class="actions-list" data-bind="foreach: Action">
			<div class="attack">
				<span class="attackname" data-bind="text: name"></span>
				<div class="description" data-bind="foreach: text">
					<span data-bind="text: $data"></span>
				</div>
			</div>
		</div>

		<div class="legendary-actions" data-bind="visible: Legendary().length > 0">
			<div class="actions red">Legendary Actions</div>
			    
			<div class="hr"></div>

			<div class="actions-list" data-bind="foreach: Legendary">
				<div class="attack">
					<span class="attackname" data-bind="text: name"></span>
					<div class="description" data-bind="foreach: text">
						<span data-bind="text: $data"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="">
		<select class="similar-npcs"
				data-bind="options: Similar(), 
							optionsText: 'Name',
							optionsCaption: 'Similar NPCs...',
							value: SelectedSimilar"></select>
	</div>
</div>