<div id="SpellView" title="Spell View">
	<article class="content">
		<p><strong data-bind="text: Type"></strong></p>
		<p><strong>Class</strong>: <span data-bind="text: Class"></span></p>
		<p><strong>Casting Time</strong>: <span data-bind="text: Cast"></span></p>
		<p><strong>Range</strong>: <span data-bind="text: Range"></span></p>
		<p><strong>Components</strong>: <span data-bind="text: Components"></span> <span data-bind="text: MaterialsValue"></span></p>
		<p><strong>Duration</strong>: <span data-bind="text: Duration"></span></p>
		<p class="spell-desc" data-bind="html: Description"></p>
	</article>
</div>